.tab{background-color:#00CC00  ; color:#FFF;
}
h6{
color:#00CC00;}
.img1{width:38%;
left=50px;
margin-left=30px;
align=right;
}
h2{margin-left=30px;
}
.right_align
{
    text-align: right;
    margin:20px;
    margin-right:300px;
}